rect {
  pointer-events: all;
  fill-opacity: 0;
  stroke-opacity: 0;
  z-index: 1;
}

#chart-container text,
.tooltip {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tooltip {
  position: absolute;
  padding: 10px;
  color: black;
  display: block;
  opacity: 0.75;
  font-family: sans-serif;
}

html,
body,
.wrapper,
main {
  height: 100%;
  margin: 0;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 300px;
  font-family: sans-serif;
}

main {
  grid-row: 1;
  z-index: 2;
  /* position: relative; */
}

main svg {
  z-index: 2;
  position: relative;
  overflow: visible;
}

.chart-container {
  height: 100%;
}

#chart-buttons {
  position: absolute;
  width: 80%;
  bottom: 24px;
  display: flex;
  justify-content: space-between;
}

#left-buttons,
#right-buttons {
  display: flex;
}

#right-buttons {
  float: inline-end;
  margin-right: -58.5px;
}

.column-container {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: stretch;
  padding: 40px 36px 24px 24px;
  box-sizing: border-box;
  height: 100vh;
}

.logo {
  text-align: center;
  background-color: #322b24;
  color: white;
  font-family: sans-serif;
  padding: 12px;
  margin: 0;
}

#text-box {
  font-family: sans-serif;
  border: 1px solid black;
  padding: 6px;
  /* padding: 20px 20px 18px; */
}

#text-box h4,
.got-it {
  margin: 0;
  /* font-family: 'TT Hoves'; */
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  /* line-height: 15px; */
  /* letter-spacing: 0.1em; */
  text-transform: uppercase;
  font-feature-settings: "tnum" on, "onum" on;
}

.got-it {
  display: flex;
  align-items: center;
  border: none;
  background: none;
  padding: 0px;
  cursor: pointer;
}

.got-it svg {
  margin-left: 8px;
}

#text-box p {
  /* margin: 16px 0 0 0; */
  /* font-family: 'Borna'; */
  font-style: normal;
  font-size: 15px;
  line-height: 18px;
  font-feature-settings: "tnum" on, "lnum" on;
}

.open-expectations {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  padding: 6px 6px 6px 12px;
  gap: 30px;
  text-align: left;
  color: #edece3;
  background-color: #322b24;
  border: none;
  /* font-family: 'Borna'; */
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  /* font-feature-settings: 'tnum' on, 'onum' on, 'ss03' on, 'ss05' on, 'ss07' on, 'ss09' on, 'ss01' on; */
}

.open-expectations:hover {
  color: white;
  background-color: #2c2f79;
  /* border: 0px solid #2c2f79; */
  border-radius: 20px;
  /* padding: 8px 6px 8px 12px; */
}

#question-circle {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  color: #322b24;
  background-color: #edece3;
  font-size: 12px;
  font-weight: 600;
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  border: none;
  padding: 0;
}

.switch {
  background-color: white;
  border: 1px solid black;
}

.styled-button {
  display: flex;
  align-items: center;
  background: white;
  border: 1px solid black;
  text-transform: uppercase;
  height: 25px;
  cursor: pointer;
}

.styled-button.dark {
  color: white;
  background-color: #322b24;
}

.styled-button:hover {
  color: white;
  background-color: #2c2f79;
  border: 1px solid #2c2f79;
  border-radius: 12.5px;
}

.styled-button svg {
  margin-right: 8px;
}

.styled-button:hover svg path {
  fill: white;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #302b25;
  color: white;
  font-family: sans-serif;
  overflow-x: hidden;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  background-color: #302b25;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.close-sidebar {
  background-color: #302b25;
  color: white;
  border: none;
  text-align: left;
  padding: 0px 24px;
  font-size: 24px;
}

.dropdown-container {
  display: flex;
  align-items: center;
}

.dropdown-label {
  margin-right: 10px;
  font-size: 28px;
}

.dropdown {
  background-color: #b0e9c8;
  color: #302b25;
  border: none;
  padding: 10px 45px 10px 10px;
  font-size: 28px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

.dropdown option {
  color: #302b25;
}

.carrot {
  position: absolute;
  left: 175px;
  transform: translateY(-25%);
  pointer-events: none;
  color: black;
  font-size: 34px;
}

.sidebar .text-container,
.close-sidebar,
.dropdown-container {
  padding: 0px 48px;
}

.sidebar p,
h3 {
  padding: 0px;
  margin: 0px;
}

.sidebar h3 {
  font-size: 28px;
}

.return-button {
  color: black;
  background-color: white;
  font-weight: 700;
  border: none;
  padding: 5px;
  cursor: pointer;
  width: max-content;
  float: left;
}

.next {
  float: right;
}

.survey {
  height: max-content;
}

#quiz-container {
  width: 90%;
  height: 600px;
  padding: 30px 30px 0px 40px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
}

#quiz-container h2 {
  font-weight: normal;
}

.quiz-title {
  display: flex;
  align-items: center;
}

.quiz-title svg {
  margin-right: 8px;
}

.content-wrapper {
  height: 100%;
}

.content-wrapper,
#navigation {
  margin: 30px 30px 0px 30px;
}

#navigation,
#feedback-container {
  width: 72%;
}

#question-container {
  margin: 40px 0px 40px;
  text-align: center;
}

#question-container h2 {
  text-align: left;
  margin-bottom: -10px;
}

#feedback-container {
  column-count: 2;
  margin-top: 50px;
}

.answer-buttons {
  display: flex;
  gap: 100px;
}

.answer-button {
  padding: 10px 20px;
  font-size: 28px;
  border: 2px solid black;
  background: none;
  cursor: pointer;
  width: calc(100% / 5);
  margin-top: 40px;
  height: 191px;
  box-sizing: border-box;
  text-wrap: pretty;
}

.answer-button.selected,
.answer-button.predicted {
  position: relative;
}

.answer-button.selected::before {
  content: "";
  position: absolute;
  top: -16px;
  left: -16px;
  right: -16px;
  bottom: -32px;
  border-width: 2px 2px 6px 2px;
  border-color: blue;
  border-style: solid;
  pointer-events: none;
}

.answer-button.selected::after {
  content: "YOU SELECTED";
  position: absolute;
  bottom: -24px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  white-space: nowrap;
}

.answer-button.predicted::before {
  content: "";
  position: absolute;
  top: -16px;
  left: -16px;
  right: -16px;
  bottom: -32px;
  border-width: 2px 2px 6px 2px;
  border-color: green;
  border-style: solid;
  pointer-events: none;
}

.answer-button.predicted::after {
  content: "WE PREDICT";
  position: absolute;
  bottom: -24px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
}

.before-answer:hover {
  color: white;
  background-color: #5f6063;
}

.dashed-lines {
  position: relative;
  /* width: 96%; */
  z-index: 1;
}

.dashed-line {
  position: absolute;
  left: 0;
  right: 0;
  border-top: 2px dashed gray;
}

.dashed-line:first-child {
  top: 70.4px;
}

.dashed-line:last-child {
  top: 127.2px;
}

.dashed-line-label {
  position: absolute;
  right: -44px;
  top: -10px;
  background: white;
  padding: 0 4px;
}

#navigation {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 30px;
}

#navigation button {
  font-weight: 700;
  padding: 5px;
  cursor: pointer;
}

#navigation button:disabled {
  background-color: white;
  color: gray;
  border: 1px solid gray;
  cursor: not-allowed;
}

#navigation button:not(:disabled) {
  background-color: black;
  color: white;
  border: 1px solid black;
}

#progress-container {
  margin-bottom: 20px;
  position: relative;
  width: 100%;
}

#progress-background {
  height: 2px;
  background-color: #ddd;
  position: absolute;
  top: 39px;
  width: 97%;
  margin-left: 10px;
}
#progress-bar {
  height: 2px;
  background-color: black;
  position: absolute;
  top: 39px;
  width: 100%;
  margin-left: 4px;
}

#progress-steps {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.step {
  text-align: center;
  position: relative;
}

.circle {
  width: 12px;
  height: 12px;
  background-color: white;
  border: 2px solid #ddd;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  z-index: 2;
}

.inner-circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 0 auto;
  position: absolute;
  float: left;
  z-index: 4;
}

.circle.current {
  border-color: black;
}

.inner-circle.filled {
  background-color: black;
}

.label {
  margin-bottom: 5px;
  font-size: 12px;
  text-align: left;
}

.label.current {
  color: #5b6fcc;
}
